.admin-container{
    background-image: url(E:\finalprojectfrontend\public\images\adminback.jpg);
    height: 500px;
    background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.admin-container::before{
    background-color: rgba(0, 0, 0, 0.5);
}

.admin-login{
    width: 400px;
    height: min-content;
    border-radius: 3px;
}
