.main-container{
    overflow-x: hidden;
}

.mycontainer{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    /* text-align: center; */
    /* margin-bottom: 25px;
    margin-left: 30%; */
    color: rgb(219, 213, 213);
    opacity: 0.9;
    background-color:black;
}

.mycontainer{
    opacity: 0.9;
    background-color: rgb(24, 23, 23);
}